body{
	background-image: url("abalada.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}
.button{
	  	margin-top: 60px;
  	margin-bottom: 10px;

	}


 .class page-footer font-small stylish-color-dark pt-4 mt-4{
 	border-bottom: 300px;
 	position: 
 }
 label{
 	color: white;
 }

