                        body{
                             background-image: url("abalada.jpg");
                              background-size: cover;
                              background-attachment: fixed;
                              font-family: "Lato", sans-serif;

                        }
                        h2{
                          color: white;
                          
                        }
                        div#corpo{
                        	color: white;
                        }