body{
	background-image: url('login.jpg');
	background-size: 120%;
	text-align: center;

}

.b{
	background-color: #99e6ff;
	padding: 10px 40px;
	font-size: 150%;
	}


.c{
	font-size: 20px;
	text-align: center;
	margin: 10; 

}


#form{
	margin-top: 20%;
}
