body{
	background-image: url('abalada.img');
	background-repeat: no-repeat;
	background-size: 100%
	}

.button{
	  	margin-top: 60px;
  	margin-bottom: 10px;

	}
 .class page-footer font-small stylish-color-dark pt-4 mt-4{
 	border-bottom: 300px;
 	position: absolute;
 }
