@charset 'utf-8';

/* estilizando haeder*/
div{
  position: absolute;
  z-index: -1;
  padding:100px 200px; 
  position: static;
}

img{
  background-image: ' img1.jpg';
  background-repeat: no-repeat;
  background-size: 1900px  1300px;
  background-position: center; 

}

h1 {
  font-size: 40px;
  color: black;
}

h2{
  font-size: 25px;
  color: black;
}

body {
  background-color: #f2f2f2;
}

address{
   color: black;
    }

/*estilizando colaboradores*/

#colaboradores{
  color: black;

}

h2{
  font-size: 25px;
}

h1{
  font-size: 40px;
}

/*estilizando nossasatividades*/

#nossasatividades {
  color: #1a1a1a;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}

h3{
  font-size: 20px;
}

p{
  font-family: verdana;
  font-size: 20px;
}

/*estilizando quem somos*/

#quemsomos {
  color: black;
}
h1{
  font-size: 40px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 20px;
}
p{
  font-family: verdana;
  font-size: 20px;
}