#map {
  height: 50%;
  width: 40%;
  margin-top:30px ;
  border-radius: 20px 20px;

}
embed {
  margin: 0;
  padding: 0;
  height: 50px;
}



html {
  height: 100%;
  /*margin: 0;*/
  /*padding: 0;*/
  width:100%;
    position: relative;
}
body{
  
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
  font-size: 180%;
font-family: serif;
}



#comment-container {
  max-height: 230px;
  position: absolute;
  left:1300px;
  top:160px;
  background-color:white;
}
#comments {
  left:1300px;
  top:160px;
}

h3, h4 {
  color: blue;

}
.container {
  padding: 80px 120px;
}
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}
.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */ 
  width: 100%; /* Set width to 100% */
  margin: auto;
}
.carousel-caption h3 {
  color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}
/*.modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}*/
.nav-tabs li a {
  color: #777;
}
#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}  
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
navbar li a, .navbar .navbar-brand { 
  color: grey !important;
  font-size: 30px;
  font-family: serif;
}
.navbar-nav li a:hover {
  color: #4d4dff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;

}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
  position: absolute; 
  bottom: 0;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}  
.form-control {
  border-radius: 0;
}

p{
  font-style: italic;
  text-align: center;

}


  #comentarios::-webkit-input-placeholder{
                          color:#C4C;
                          background-color: #4C4;

                        </style>


                        <style >
                          #map {
                            height: 600px;
                            width: 40%;
                          }
                          
  /*----;*/

