header.container {
    width: 100%;
    border: 1px solid gray;
    background-color: gray;
    color: gray;
    padding: 15px;
    text-align: center;
    margin-bottom:0;
    position: static;
}

header {
    background-color:gray;
    color: gray;
    padding: 15px;
    text-align: center;
    margin-bottom:0;
    position: static;
}

.botton{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    text-decoration: none;
    opacity: 0.6;
}

h1 {
   font-size: 40px;
   color: #1a1a1a;
}

h2{
	font-size: 30px;
  color: #1a1a1a;
}

h3{
	font-size: 20px;
  color: #1a1a1a;
}

p {
    color: #1a1a1a;
    font-family: verdana;
    font-size: 20px;
}

body {
    background-color: #f2f2f2;
}

address{
  color: black;
}