header {
    min-height: 200px;
}
article {
    padding-bottom: 60px; 
    width: 900px; 
    margin: 0 auto;
}
html {
  position: relative!important;
  min-height: 100%!important;
  padding-bottom: 180px!important;
}

.footer {
  position: absolute!important;
  bottom: 0!important;
  width: 100%!important; 
  height: 180px!important;
  font-size: 120%!important;
  font-family: serif!important;

  /* Set the fixed height of the footer here */
  /*height: 60px;*/
/*  line-height: 60px;*/ /* Vertically center the text there */
/*  background-color: #f5f5f5;*/
}
footer p{
  line-height: 20px;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */